[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
	branch = master
